<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
<nav class="uk-navbar-container uk-margin navbar" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle sidebar-toggle" uk-navbar-toggle-icon href="#sidebar" uk-toggle></a>
        <a class="uk-navbar-item uk-logo" href="/"><img src="/images/luxaura.png" class="img-logo" alt="Luxaura.js" style="max-height:30px"></a>
    </div>
    
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/docs">
                    Docs
                </a>
            </li>
            <li>
                <a href="https://community.luxaura.js.org">
                    Community
                </a>
            </li>
            <li>
                <a href="https://github.com/luxaurajs/Luxaura.js">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <div class="uk-navbar-item">
            <li>
                <input id="docsearch" class="uk-input navbar-search" type="text" placeholder="Search Documentation">
            </li>
            </div>
        </ul>
    </div>
</nav>
</div>