    <ul class="uk-nav uk-nav-default" uk-nav>
        <li class="uk-nav-header">Getting Started</li>
        <li <?- page.title == 'Documentation' ? 'class="uk-active"' : '' ?>><a href="/docs">Introduction</a></li>
        <li <?- page.title == 'Installation' ? 'class="uk-active"' : '' ?>><a href="/docs/installation">Installation</a></li>
        <li <?- page.title == 'Pages' ? 'class="uk-active"' : '' ?>><a href="/docs/pages">Pages</a></li>
        <li <?- page.title == 'CSS' ? 'class="uk-active"' : '' ?>><a href="/docs/css">CSS</a></li>
        <li <?- page.title == 'JavaScript' ? 'class="uk-active"' : '' ?>><a href="/docs/javascript">JavaScript</a></li>
        <li class="uk-nav-header">Configuration</li>
        <li <?- page.title == 'Front Matter' ? 'class="uk-active"' : '' ?>><a href="/docs/front-matter">Front Matter</a></li>
        <li <?- page.title == 'EJS' ? 'class="uk-active"' : '' ?>><a href="/docs/ejs">EJS</a></li>
        <li <?- page.title == 'Pug' ? 'class="uk-active"' : '' ?>><a href="/docs/pug">Pug</a></li>
        <li <?- page.title == 'Site Configuration' ? 'class="uk-active"' : '' ?>><a href="/docs/site-configuration">Site Configuration</a></li>
        <li <?- page.title == 'Variables' ? 'class="uk-active"' : '' ?>><a href="/docs/variables">Variables</a></li>
        <li class="uk-nav-header">Customization</li>
        <li <?- page.title == 'Layouts' ? 'class="uk-active"' : '' ?>><a href="/docs/layouts">Layouts</a></li>
        <li <?- page.title == 'Theming' ? 'class="uk-active"' : '' ?>><a href="/docs/theming">Theming</a></li>
    </ul>
