@import "node_modules/uikit/src/less/uikit.theme.less";

// fonts
@global-font-family: "europa", sans-serif;
@base-code-font-family: "roboto-mono", monospace;

// scroll fix

html {
    overflow-y:scroll
}
body {
    overflow:hidden
}

// table of contents

@import "toc.less";

// base documentation content

@import "docs.less";
    
// sidebar

.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

.uk-nav-header {
    padding: 8px 0;
    color: #222;
    font-size: 14px;
}

// navbar

@import "navbar.less";

// buttons

@import "buttons.less";

// responsive documentation content

@media (min-width:960px){
    .sidebar+.main{
        padding-left:240px
    }
}
@media (min-width:1200px){
    .toc{
        left:calc(100% + 0px)
    }
    .sidebar+.main{
        padding-left:40px
    }
}
@media (min-width:1400px){
    .sidebar{
        width:300px !important;
        padding:45px 45px 60px 45px
    }
    .toc{
        left:calc(100% + 60px)
    }
    .sidebar+.main{
        padding-left:40px
    }
}

.main .uk-container{
    padding-left:15px;
    padding-right:15px
}

@media (min-width:640px){
    .main .uk-container{
        padding-left:30px;
        padding-right:30px
    }
}

@media (min-width:960px){
    .main .uk-container{
        padding-left:40px;
        padding-right:40px
    }
}

// containers

.uk-container {
    max-width: 1380px;
}

.uk-container-small {
    max-width: 650px;
}

// mobile views
@media (max-width: 1199px) {
  .toc {
    display: none !important;
  }
}

@media (min-width:960px) {
    .sidebar-toggle {
        display: none
    }
}

@media (max-width:959px) {
    .sidebar {
        display: none
    }
    .img-logo, .navbar-search {
        display: none
    }
}

// search box

@import "searchbox.less";

// icon coloring

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

// syntax highlighting
@import "highlight.less";
