// base styles

@import "node_modules/uikit/src/less/uikit.theme.less";

// variables

@import "variables.less";

// mixins

@import "mixins.less";

// scroll fix

/*html {
    overflow-y:scroll
}
body {
    overflow:hidden
}*/

// table of contents

@import "toc.less";

// base documentation content

@import "docs.less";
    
// sidebar

@import "sidebar.less";

// navbar

@import "navbar.less";

// buttons

@import "buttons.less";

// media queries

@import "media.less";

// search box

@import "searchbox.less";

// syntax highlighting

@import "highlight.less";

// icon coloring

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}
