@global-font-family: "europa", sans-serif;
@base-code-font-family: "roboto-mono", monospace;
@base-link-hover-text-decoration: none;
@base-code-background: #f1f1f1;
@base-pre-background: @base-code-background;
@base-code-color: @global-color;
