html, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, .uk-checkbox, .uk-input, .uk-radio, .uk-select, .uk-textarea {
    font-family: "europa", sans-serif !important
}

pre,code {
    font-family: "roboto-mono", monospace !important
}

.main h1:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.main h1 .header-anchor:first-child {
    display: none;
}

.header-anchor {
    color:inherit;
    text-decoration:none;
    width:25px;
    float:left;
    color:#999;
}

.header-anchor:hover {
    text-decoration: none;
    color: #999;
}

:target:before {
content:"";
display:block;
height:80px; /* fixed header height*/
margin:-80px 0 0; /* negative fixed header height */
}
    

.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

.uk-nav-header {
    padding: 8px 0;
    color: #222;
    font-size: 14px;
}

.navbar {
    background: #fff;
    border-bottom: 1px #e5e5e5 solid;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}

code,.uk-input,.uk-button {
    border-radius: 3px
}

.uk-navbar-nav li a {
    position: relative
}

.uk-navbar-nav li a:hover {
    text-decoration: none
}

.uk-navbar-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0f6ecd;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.uk-navbar-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.uk-button {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.uk-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.uk-button:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.main .uk-container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:640px) {
    .main .uk-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:960px) {
    .main .uk-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.uk-container-small {
    max-width: 650px;
}

@media (min-width:640px) {
    .sidebar-toggle {
        display: none
    }
}

@media (max-width:639px) {
    .sidebar {
        display: none
    }
    .img-logo, .navbar-search {
        display: none
    }
    .uk-navbar-right {
        align-items: center !important
    }
}

.algolia-autocomplete .ds-dropdown-menu {
    top: 2.8rem !important;
    left: 0.7rem !important;
    right: 0.7rem !important;
    min-width: calc(100vw - 1.4rem) !important;
    max-width: calc(100vw - 2rem) !important;
    max-height: calc(100vh - 5rem) !important;
    box-shadow: 0 0 10px 0.05rem rgba(157,124,191,0.25) !important;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
    margin-top: 0 !important;
  }

  .algolia-docsearch-suggestion--wrapper {
    padding-top: 0 !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    font-size: 0.9rem !important;
    font-weight: normal !important;
    padding: 0.35rem 0.7rem !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:after {
    display: none !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion {
    padding: 0 !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion--content {
    padding: 0.7rem !important;
    width: 100% !important;
    max-width: 100% !important;
  }
    .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
    padding: 0 !important;
  }
    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
    width: 100% !important;
  }
    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content.algolia-docsearch-suggestion--no-results {
      max-width: 100% !important;
    width: 100% !important;
    font-weight: normal !important;
    padding: 1.05rem 0.7rem !important;
  }
.algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content.algolia-docsearch-suggestion--no-results .algolia-docsearch-suggestion--title {
    margin-bottom: 0 !important;
  }
.algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content.algolia-docsearch-suggestion--no-results .algolia-docsearch-suggestion--text {
    color: inherit !important;
    font-weight: normal !important;
  }
    .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    padding: 0.35rem 0.7rem !important;
    margin-top: 0 !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content.algolia-docsearch-suggestion--no-results:before {
    display: none !important;
  }

  .algolia-autocomplete .algolia-docsearch-footer {
    width: 100% !important;
    height: 30px !important;
    margin-top: 0 !important;
  }

  .algolia-autocomplete .algolia-docsearch-footer--logo {
    width: 110px !important;
    height: 100% !important;
    margin-left: auto !important;
    margin-right: 0.7rem !important;
  }

  @media (min-width: 550px) {
    .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
      color: inherit !important;
      font-weight: normal !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
      width: 30% !important;
      text-align: right !important;
      opacity: 1 !important;
      padding: 0.7rem 1.05rem !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
      padding: 0.7rem 1.05rem !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--content {
      width: 70% !important;
      max-width: 70% !important;
      padding: 0.7rem 1.05rem !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--content:before,
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:after {
      display: block !important;
      content: "" !important;
      position: absolute !important;
      top: 0 !important;
      height: 100% !important;
      width: 1px !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:after {
      right: 0 !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--content:before {
      left: -1px !important;
    }
  }

  @media (min-width: 750px) {
    .algolia-autocomplete .ds-dropdown-menu {
      top: 100% !important;
      position: absolute !important;
      max-width: 600px !important;
      min-width: 500px !important;
    }

    .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
      right: 0 !important;
      left: inherit !important;
    }

    .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu::before {
      right: 4.2rem !important;
    }
  }

  @media (min-width: 1000px) {
    .algolia-autocomplete .ds-dropdown-menu {
      max-width: 600px !important;
      min-width: 540px !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
      width: 35% !important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--content {
      width: 65% !important;
      max-width: 65% !important;
    }
  }

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.hljs-name {
    color:#01a3a3;
}

.hljs-tag,.hljs-meta {
    color:#778899;
}

.hljs,
.hljs-subst {
    color: #444
}

.hljs-comment {
    color: #888888
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #4286f4
}

.hljs-title,
.hljs-section {
    color: #4286f4;
    font-weight: bold
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #BC6060
}

.hljs-literal {
    color: #62bcbc
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #25c6c6
}

.hljs-meta-string {
    color: #4d99bf
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}
