<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/favicon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/prism.css">
<link rel="stylesheet" href="/assets/main.css">
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/assets/prism.js">
