<div class="nav"><button id="nav-btn"></button>
  <div class="list"></div>

</div>
<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <li class="sliding-u-l-r-l"><a href="/docs">Introduction</a></li>
      <li class="sliding-u-l-r-l"><a href="/docs/installation">Installation</a></li>
    </ul>
  </div>
