<div class="nav"><button id="nav-btn"></button>
  <div class="list"></div>

</div>
<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <li class="sliding-u-l-r-l">Get Started</li>
      <li class="sliding-u-l-r-l">Actions</li>
      <li class="sliding-u-l-r-l">Images and Icons</li>
      <li class="sliding-u-l-r-l">Lorem ipsum</li>
      <li class="sliding-u-l-r-l">Get Started</li>
      <li class="sliding-u-l-r-l">Actions</li>
      <li class="sliding-u-l-r-l">Images and Icons</li>
      <li class="sliding-u-l-r-l">Lorem ipsum</li>
      <li class="sliding-u-l-r-l">Get Started</li>
      <li class="sliding-u-l-r-l">Actions</li>
      <li class="sliding-u-l-r-l">Images and Icons</li>
      <li class="sliding-u-l-r-l">Lorem ipsum</li>
      <li class="sliding-u-l-r-l">Get Started</li>
      <li class="sliding-u-l-r-l">Actions</li>
      <li class="sliding-u-l-r-l">Images and Icons</li>
      <li class="sliding-u-l-r-l">Lorem ipsum</li>
      <li class="sliding-u-l-r-l">Get Started</li>
      <li class="sliding-u-l-r-l">Actions</li>
      <li class="sliding-u-l-r-l">Images and Icons</li>
      <li class="sliding-u-l-r-l">Lorem ipsum</li>
    </ul>
  </div>
