<div class="nav"><button id="nav-btn"></button>
  <div class="list"></div>

</div>
<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <li class="sliding-u-l-r-l" onclick="location.href='/docs';">Introduction</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/installation';">Installation</li>
    </ul>
  </div>
