<div class="nav"><button id="nav-btn"></button>
  <div class="list"></div>

</div>
<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <li class="sliding-u-l-r-l" onclick="location.href='/docs';">Introduction</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/installation';">Installation</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/ejs';">EJS</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/front-matter';">Front Matter</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/site-configuration';">Site Configuration/li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/layouts';">Layouts</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/variables';">Variables</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/templates';">Templates</li>
    </ul>
  </div>
