<!--<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <li class="sliding-u-l-r-l" onclick="location.href='/docs';">Introduction</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/installation';">Installation</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/ejs';">EJS</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/front-matter';">Front Matter</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/site-configuration';">Site Configuration</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/layouts';">Layouts</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/variables';">Variables</li>
    </ul>
  </div>-->
  
  <div class="docs-wrapper">

    <nav id="docs-sidebar">
        <!-- Sidebar Header -->
        <div class="docs-sidebar-header">
            <h3>Collapsible Sidebar</div>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>

            <li><!-- Link with dropdown items -->
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>

            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

</div>
