<div class="wrapper">
  <div class="left-col">
    <ul class="side-menu-items">
      <h5>Getting Started</h5>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs';">Introduction</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/installation';">Installation</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/pages';">Pages</li>
      <h5>Configuration</h5>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/front-matter';">Front Matter</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/ejs';">EJS</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/site-configuration';">Site Configuration</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/variables';">Variables</li>
      <h5>Customization</h5>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/layouts';">Layouts</li>
      <li class="sliding-u-l-r-l" onclick="location.href='/docs/theming';">Theming</li>
    </ul>
  </div>
