@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSans_500-webfont.woff2') format('woff2'),
         url('MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans';
    src: url('publicasans-regular-webfont.woff2') format('woff2'),
         url('publicasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{font-family:'Museo Sans',sans-serif;}
html,body,input{font-family:'Publica Sans',sans-serif;}
