<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/sidebar') %>
<div class="main-col">
<div class="content">
<%- body %>
</div>
</div>
</div>
</body>
</html>
