<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head') %>
</head>
<body>
<div class="banner">
  <div class="banner-content">
    <h1>Vanillify Documentation</h1>
    <p></p>
  </div>
  <div class="banner-img"></div>
</div>
<%- include('../partials/sidebar') %>
<div class="main-col">
<div class="content">
<%- body %>
</div>
</div>
</div>
<script src="/assets/main.js"></script>
</body>
</html>
