<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/tutorial-side') %>
<div class="main-col">
<div class="content">
<%- body %>
</div>
</div>
</div>
<script src="/assets/main.js"></script>
<%- include('../partials/foot') %>
</body>
</html>
